*{
  font-family: 'Arial Normal', 'Arial';
}
body{
  margin:0;
  padding:0;
}
p{
  margin:0;
  padding:0;
}
ol{
  margin: 0;
  list-style:none;
}
a{
  text-decoration:none;
  out-line: none;
}

button{
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
}
button:focus{
  outline:0;
}
input{
  margin:0;
  padding:0;
  text-decoration:none;
}

/*修复ie在级联选项框中选中后不显示选择值的问题*/
.ant-cascader-picker-label{
  z-index:1;
}
button:not(.ant-btn){
  background-color:#e6a23c!important;
}
.ant-table-thead>tr>th{
  background:#50aca2!important;
  color: #fff!important;
  border-bottom-width: 0!important;
  text-align: center!important;
  height: 2.2rem!important;
}
.ant-table-tbody>tr>td{
  background:#e5efeb!important;
  color: #333!important;
  border-bottom-width: 0!important;
  text-align: center!important;
  height: 2.2rem!important;
}
.ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td{
  border: 1px solid #ccc;
}
/*.ant-btn-primary{
  background-color: #5a9dd0;
  border-color: #5a9dd0;
}
.ant-btn-primary:hover, .ant-btn-primary:focus{
  background-color: #7cb0d8;
  border-color: #7cb0d8;
}

.ant-form.ant-form-horizontal{
  margin-bottom:-10px;
}
.ant-row>.ant-btn{
  margin: 0 15px;
  width:105px;
}*/
