*{
  font-family: 'Arial Normal', 'Arial';
}
body{
  margin:0;
  padding:0;
}
p{
  margin:0;
  padding:0;
}
ol{
  margin: 0;
  list-style:none;
}
a{
  text-decoration:none;
  out-line: none;
}

button{
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
}
button:focus{
  outline:0;
}
input{
  margin:0;
  padding:0;
  text-decoration:none;
}

